<%= render 'navbar' %>

<div class="header reddit">
  <h1>Exploring the <span class="playwrite">INSANE</span> world we live in</h1>
</div>

<section class="posts">
  <% if @posts.present? %>
    <% @posts.each do |post| %>
      <div class="card-container">
        <div class="card-img">
          <% if post['image'].present? && post['image']['asset'].present? %>
            <% image_ref = post['image']['asset']['_ref'] %>
            <% cleaned_ref = image_ref.gsub(/^image-/, '').gsub(/-jpg$/, '') %>
            <% image_url = "https://cdn.sanity.io/images/#{ENV['SANITY_PROJECT_ID']}/production/#{cleaned_ref}.jpg" %>
            <%= image_tag image_url, alt: post['title'], class: "thumbnail" %>
        <% end %>
        </div>
        <div class="card-text ">
          <h2><%= link_to post['title'], sanity_post_path(post['_id']) %></h2>
        </div>
      </div>
      
    <% end %>
  <% else %>
    <p>No posts available.</p>
  <% end %>
</section>
