<% if @posts.present? %>
  <% @posts.each do |post| %>
    <h2><%= post['title'] %></h2>
    <% if post['body'].present? %>
      <% post['body'].each do |block| %>
        <% if block['_type'] == 'block' %>
          <p><%= block['children'].map { |child| child['text'] }.join(' ') %></p>
        <% end %>
      <% end %>
    <% end %>
    
    <% if post['image'].present? && post['image']['asset'].present? %>
      <% image_ref = post['image']['asset']['_ref'] %>
      <% cleaned_ref = image_ref.gsub(/^image-/, '').gsub(/-png$/, '') %>
      <% image_url = "https://cdn.sanity.io/images/#{ENV['SANITY_PROJECT_ID']}/production/#{cleaned_ref}.png" %>
      <%= image_tag image_url, alt: post['title'], class:"thumbnail" %>
    <% end %>
    
  <% end %>
<% else %>
  <p>No posts available.</p>
<% end %>
