<% if @post %>
  <h1><%= @post['title'] %></h1>
  <div>
    <%= image_tag @post['image'] if @post['image'].present? %>
  </div>
  <div>
    <%= @post['body'].map { |block| block['children'].map { |child| child['text'] }.join }.join("<br>").html_safe %>
  </div>
<% else %>
  <p>No post found.</p>
<% end %>
