body{
  background-color: #000814;
  color: #fdfffc;
}

.header{
  width: 75%;
  margin: 0 auto;
}

.header h1{
  font-size: 6rem;
  text-align: center;
}

.header span{
  color: #9d0208;
  
}

.thumbnail{
  width: 450px;
  border-radius: 12px;
}

.card-container{
  background-color: #ffffff;
  width: 550px;
  border: 1px solid black;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 18px;
  box-shadow: 0px 0px 10px 1px #fff5f5;
}

.card-text{
  color: #000814
}

.posts{
  padding: 0 120px;
  display: flex;
  width: 90%;
  gap: 20px;
}

menu ul{
  display: flex;
  width: 400px;
  justify-content: space-around;
  margin: 0 auto;
}


menu ul li {
  border: 1px solid #fff5f5;
  border-radius: 12px;
  padding: 4px 8px;
  list-style-type: none;
}

menu ul li a {
  text-decoration: none;
  color: #fff5f5
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
